include includes/head.jade
    // Custom styles for this template
    title Bomberman3D
body
    #container
        div.jumbotron
            h1 Игровые комнаты
            p Пользователь: #{user.username}
            form.form-horizontal(role="form", method="post")
                div.form-group
                    label(for="roomName", class="col-sm-2 control-label") Имя комнаты
                    div.col-sm-10
                        input.form-control(type="text", id="roomName", placeholder="Введите имя комнаты", name="roomName")
                div.form-group
                    div(class="col-sm-offset-2 col-sm-10")
                        button(type="submit", class="btn btn-default", class="col-sm-2") Создать
        ul
            each room in rooms
                li
                    a(href="/room/"+room.id)= room.name
                    |&nbsp;(#{room.created_at.getHours()}:#{room.created_at.getMinutes()})

        if error
            ul(class="bg-danger")
                each msg in error
                    li= msg




